/* This is a universal selector */
* {
 box-sizing: border-box; 
}

/* These are for my homepage */
body {
  background-color: #f4f3ef;
  color: black;
  font-family: Verdana;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

header {
  background-color: #faa363;
  text-align: center;
}

.main-nav {
  width: 100%;
  padding: 10px;
  min-height: 30px;
  margin-bottom: 60px;
}

.nav {
  display: block;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

#about {
  text-align: center;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}
nav {
  display: inline-block;
  letter-spacing: 4px;
  font-weight: bold;
}

footer {
  width: 300px;
  padding: 1px;
  border: 0 solid teal;
  margin: 50px auto 10px;
  color:teal; 
  font-size: .8rem;
  text-align: center;
}

#contact {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blog {
  margin-top: 50px;
}

a {
  color: teal;
  text-decoration: none;
}

figcaption {
  font-size: .6rem;
} 

/* These are for the blog posts */

img {
  width: 100%;
  max-width: 552px;
}
#post-one {
  padding: 2rem;
  text-align: left;
  width: 100%;
  height: auto; 
}

#post-two {
  padding: 2rem;
  text-align: left;
  width: 100%;
  height: auto;
}

.latest-one {
  border: 4px solid teal;
  width: 100%
}

.latest-two {
  border: 4px solid teal;
  width: 100%

}

.post-header {
  border: 3px solid teal;
  padding: 3px;
  text-align: center;
}

.highlighted {
  font-weight: bold;
  color: teal;
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .nav {
    display: flex;
  }
}